<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
        	<!-- removed [%t] thread logging as it's a really string in jetty -->
            <Pattern>%d{HH:mm:ss.SSS}  %-5level %logger{36} %msg%n</Pattern>
        </layout>
    </appender>

	<logger name="org.atmosphere" level="warn" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.github.sqrlserverjava.atmosphere" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.github.sqrlserverjava" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="warn">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>